

#header {
    
    box-shadow: #c3c8ce 5px 5px 5px 5px;
    background-color: #287994;
}

.container {
    text-align: center;
    font-family: 'Modak', cursive;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #c3c8ce;
}

#input-box {
    width: 300px;
    margin-right: 2em;
}

#entryForm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 6em;
}

.form-control {
    text-align: center;
}
    

.input-group {
    margin-bottom: 1em;
    width: 6em;
}

.input-group-text {
    height: 38px;
    width: 35px;
    background-color: #9E9E9E;
    margin-left: 10px;
}

#radio-container {
    display: flex;
}
