

#header {
    
    box-shadow: #c3c8ce 5px 5px 5px 5px;
    background-color: #287994;
}

.container {
    text-align: center;
    font-family: 'Modak', cursive;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #c3c8ce;
}

#input-box {
    width: 300px;
    margin-right: 2em;
}

#entryForm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 6em;
}

.input-box {
    text-align: center;
    width: 300px;
}

.radio-button {
    text-align: center;
    width: 3em;
}

.input-group {
    margin-bottom: 1em;
    width: 6em;
}

.input-group-text {
    height: 38px;
    width: 35px;
    background-color: #9E9E9E;
    margin-left: 10px;
}

#radio-container {
    display: flex;
}

#convert-container {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

#convert-button {
    width: 300px;
    background-color: #287994;
    color: whitesmoke;
    height: 40px;
}
#output-box-container {
    display: flex;
    justify-content: center;
}

#output-box {
    margin-top: 3em;
    border: 1px solid lightgray;
    height: 3em;
    width: 8em;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
}

